.animals-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-picture {
    width: 100px;
}

.mutualfriends-picture {

    width: 100px;
}


body {
    background-color: rgb(217, 210, 204);
}